// Colour Variables
$back-main: #1B2A41;
$back-two: #324A5F;
$back-three: #56697B;
$bar: #0C1821;
$white: #eee;

// Styling Code
// Global Styles
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family:'Inconsolata', monospace;
  color: $white;
}
.icon {
  font-size: 40px;
  margin: 10px;

  &--blank {
    background-color: $white;
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
  &:hover {
    color: rgb(211, 211, 211);
  }
}

// Nav Specific Styling
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: $bar;
  align-items: center;
  justify-content: flex-end;
  z-index: 20;
}

// Landing Page Specific Styling
.landing-page {
  color: $white;
  padding: 0 20px 50px 0;
  background-color: $back-main;

  h1 {
    font-size: 3.5em;
    height: 1em;
  }
  p {
    font-size: 1.5em;
    margin-top: 10px;
  }

  &__bottom {
    margin-top: 45vh;
  }
  .typed {
    border-right: 0.15em solid $white;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation:
      typing 1.2s, blink 1s step-end infinite;
  }
  @keyframes typing {
    50% {border-color: $white}
  }
  @keyframes blink {
    50% {border-color: transparent}
  }
}

// Stack Page Specific Styling
.stack-page {
  background-color: $back-two;
  color:$white;

  &__top {
    padding: 0px 0 0 10px;
    
    p {
      padding-bottom: 20px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;

    .content__stack-item {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin-left: 1vw;
        font-size: 2em;
      }
    }
  }
}

// Project Page Specific Styling
.projects-page {
  background-color: $back-three;

  &__content {
    margin: 50px auto auto auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    padding: 5px;
    .content__project {
      padding: 100px 20px;
      width: 320px;
      h2 {
        margin-bottom: 10px;
        font-size: 38px;
      }
      .project_image {
        width: 300px;
        height: 300px;
        background-color: $white;
        margin-bottom: 5px;
      }
      .project-icons {
        padding-top: 5px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

// Contact Page Specific Styling
.contact-page {
  background-color: $back-main;
  padding: 0 10px;

  &__content {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 50px;

    .content__item {
      margin: 10px 100px 10px 0;
    }
    .icon {
      margin: 10px auto;
    }
  }
  a:hover {
    color: rgb(211, 211, 211);
  }
}

// Footer Specific Styling
footer {
  background-color: $bar;
  height: 40px;
  text-align: center;
  p {
    padding: 10px 0 0 5px;
    
  }
  a {
    text-decoration: none;
  }
}

// Styling for Semi-circular Cutouts
.cut-out {
  display: flex;
  justify-content: center;
  .down-arrow {
    z-index: 2;
    position: absolute;
    margin-top: 2px;
    font-size: 1.5em;
    animation: pulse 2s ease infinite;

    @keyframes pulse {
      50% {margin-top: 10px;}
    }
    
  }
  svg {
    position: absolute;
    z-index: 1;
  }
  &__bottom {
    top: -40px;
    position: relative;
  }
  
}

// Media Queries (Desktop Specific Styling
@media screen and (min-width: 767px) {
  // Global Font Increase
  p {
    font-size: 1.5em;
  }

  // Desktop Landing Page Styling
  .landing-page {
    padding-left: 2vw;
    h1 {
      font-size: 7em;
    }
    p {
      font-size: 2em;
    }

  }

  // Desktop Stack Page Styling
  .stack-page {
    background-color: $back-two;
    color:$white;
    padding-left: 2vw;
    &__top {
      padding: 0 0 40px 10px;
      
      p {
        padding-bottom: 40px;
      }
    }
    &__content {
      grid-template-columns: 1fr 1fr;
      width: 100%;
      .content__stack-item {
        display: flex;
        align-items: center;
      }
    }
  }

  // Desktop Projects Page Styling
  .projects-page {
    padding-left: 0;
    &__content {
      flex-basis: 33%;
      .content__project {
        padding: 20px;
        width: 380px;
        height: 410px;
        overflow: hidden;
        h2 {
          margin-bottom: 10px;
          font-size: 2em;
        }
        .project_image {
          width: 380px;
          height: 380px;
          background-color: $white;
          margin-bottom: 5px;
        }
        p, .project-icons {
          transform: translateY(0);
          background-color: $back-three;
        }
        transition: transform 500ms ease;
        &:hover {
          transform: scale(1.05);
          
          p, .project-icons {
            transform: translateY(-200px);
            transition: transform 500ms ease;
          }
          
        }
      }
    }
  }

  // Desktop Contact-page Styling
  .contact-page {
    background-color: $back-main;
    padding: 0 10px;

    &__headings {
      padding-left: 2vw;
      margin-top: 50px;
    }
  
    &__content {
      padding-top: 100px;
      padding-left: 2vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      margin-left: 20px;
  
      .content__item {
        margin: 10px 30px 10px 0;
      }
      .icon {
        margin: 10px auto;
      }
    }
  }

}

.whitespacers {
  width: 100%;
  height: 10vh;
}