// Colour Variables
$back-main: #1B2A41;
$back-two: #324A5F;
$back-three: #56697B;
$bar: #0C1821;
$white: #eee;

* {
  margin: 0;
  padding: 0;
  font-family:'Inconsolata', monospace;
  color: $white;
}
.icon {
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 10px;
  margin: 10px;
}
nav {
  height: 50px;
  display: flex;
  background-color: $bar;
  align-items: center;
  justify-content: flex-end;
}
.landing-page {
  color: $white;
  padding: 20px 20px 50px 10px;
  background-color: $back-main;

  h1 {
    font-size: 2.8em;
  }
  p {
    margin-top: 10px;
  }

  &__bottom {
    margin-top: 300px;
  }
  .typed h1 {
    overflow: hidden;
    border-right: 0.15em solid $white;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    animation:
      typing 1s steps(24), blink .75s step-end infinite;
  }
  @keyframes typing {
    from {width: 0}
    to {width: 100%;}
  }
  @keyframes blink {
    50% {border-color: transparent}
  }
}
.stack-page {
  background-color: $back-two;
  color:$white;

  &__top {
    padding: 0px 0 0 10px;
    
    p {
      padding-bottom: 20px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;

    .content__stack-item {
      padding: 0 50px;
      display: flex;
      align-items: center;
    }
  }
  padding-bottom: 80px;
}
.projects-page {
  background-color: $back-three;

  &__content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    .content__project {
      h2 {
        margin-bottom: 10px;
        font-size: 38px;
      }
      .project_image {
        width: 300px;
        height: 300px;
        background-color: $white;
        margin-bottom: 5px;
      }
    }
  }
}
.cut-out {
  margin: auto auto 50px auto;
  text-align: center
}