html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  color: #eee;
}

.icon {
  font-size: 40px;
  margin: 10px;
}

.icon--blank {
  background-color: #eee;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.icon:hover {
  color: lightgray;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0C1821;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 20;
}

.landing-page {
  color: #eee;
  padding: 0 20px 50px 0;
  background-color: #1B2A41;
}

.landing-page h1 {
  font-size: 2.5em;
  height: 1.1em;
}

.landing-page p {
  font-size: 1.5em;
  margin-top: 10px;
}

.landing-page__bottom {
  margin-top: 45vh;
}

.landing-page .typed {
  border-right: 0.15em solid #eee;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 1.2s, blink 1s step-end infinite;
          animation: typing 1.2s, blink 1s step-end infinite;
}

@-webkit-keyframes typing {
  50% {
    border-color: #eee;
  }
}

@keyframes typing {
  50% {
    border-color: #eee;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.stack-page {
  background-color: #324A5F;
  color: #eee;
}

.stack-page__top {
  padding: 0px 0 0 10px;
}

.stack-page__top p {
  padding-bottom: 20px;
}

.stack-page__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
}

.stack-page__content .content__stack-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stack-page__content .content__stack-item p {
  margin-left: 1vw;
  font-size: 2em;
}

.projects-page {
  background-color: #56697B;
}

.projects-page__content {
  margin: 50px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

.projects-page__content .content__project {
  padding: 100px 20px;
  width: 320px;
}

.projects-page__content .content__project h2 {
  margin-bottom: 10px;
  font-size: 38px;
}

.projects-page__content .content__project .project_image {
  width: 300px;
  height: 300px;
  background-color: #eee;
  margin-bottom: 5px;
}

.projects-page__content .content__project .project-icons {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-page {
  background-color: #1B2A41;
  padding: 0 10px;
}

.contact-page__content {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.contact-page__content .content__item {
  margin: 10px 100px 10px 0;
}

.contact-page__content .icon {
  margin: 10px auto;
}

.contact-page a:hover {
  color: lightgray;
}

footer {
  background-color: #0C1821;
  height: 40px;
  text-align: center;
}

footer p {
  padding: 10px 0 0 5px;
}

footer a {
  text-decoration: none;
}

.cut-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cut-out .down-arrow {
  z-index: 2;
  position: absolute;
  margin-top: 2px;
  font-size: 1.5em;
  -webkit-animation: pulse 2s ease infinite;
          animation: pulse 2s ease infinite;
}

@-webkit-keyframes pulse {
  50% {
    margin-top: 10px;
  }
}

@keyframes pulse {
  50% {
    margin-top: 10px;
  }
}

.cut-out svg {
  position: absolute;
  z-index: 1;
}

.cut-out__bottom {
  top: -40px;
  position: relative;
}

@media screen and (min-width: 767px) {
  p {
    font-size: 1.5em;
  }
  .landing-page {
    padding-left: 2vw;
  }
  .landing-page h1 {
    font-size: 7em;
    height: 1.1em;
  }
  .landing-page p {
    font-size: 2em;
  }
  .stack-page {
    background-color: #324A5F;
    color: #eee;
    padding-left: 2vw;
  }
  .stack-page__top {
    padding: 0 0 40px 10px;
  }
  .stack-page__top p {
    padding-bottom: 40px;
  }
  .stack-page__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .stack-page__content .content__stack-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .projects-page {
    padding-left: 0;
  }
  .projects-page__content {
    max-width: 1400px;
  }
  .projects-page__content .content__project {
    padding: 20px;
    width: 380px;
    height: 410px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }
  .projects-page__content .content__project h2 {
    margin-bottom: 10px;
    font-size: 2em;
  }
  .projects-page__content .content__project .project_image {
    width: 380px;
    height: 380px;
    background-color: #eee;
    margin-bottom: 5px;
  }
  .projects-page__content .content__project p, .projects-page__content .content__project .project-icons {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-color: #56697B;
    width: 380px;
  }
  .projects-page__content .content__project:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .projects-page__content .content__project:hover p, .projects-page__content .content__project:hover .project-icons {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }
  .contact-page {
    background-color: #1B2A41;
    padding: 0 10px;
  }
  .contact-page__headings {
    padding-left: 2vw;
    margin-top: 50px;
  }
  .contact-page__content {
    padding-top: 100px;
    padding-left: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 20px;
  }
  .contact-page__content .content__item {
    margin: 10px 30px 10px 0;
  }
  .contact-page__content .icon {
    margin: 10px auto;
  }
}

@media screen and (min-width: 1400px) {
  .stack-page__content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .stack-page__content .content__stack-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.whitespacers {
  width: 100%;
  height: 10vh;
}
/*# sourceMappingURL=main.css.map */